<div id="<%= dom_id post %>">
    <!--   <%= post.title %>
    <%= post.content%>-->
    
    <div class="card mt-5">

        <div class="card-title">
            <div class="row row-block">
                <div class="col-md-10">
                    <% if post.userinfo.present? %>
                        <%= image_tag(post.userinfo.profile,style:"width:50px;height:50px",class:"rounded-circle")%>
                    <%else%>
                        <%= image_tag("/no-profile.jpg",style:"width:50px;height:50px",class:"rounded-circle")%>
                    <%end%>
                                        
                    <% if post.userinfo.present? %>
                        <b>
                            <%= post.userinfo.fullname %>
                        </b>
                    <% end %>
                </div>

                <div class="col-md-2 edit-block">
                <%if post.users_id==current_user.id %>
                        <%= link_to post do%>
                        <i class="fa-regular edit-post-icon fa-pen-to-square"></i>
                        <%end%>
                <%end%>        
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <%= post.content%>
                </div>
            </div>
            <hr>
            
            <div class="row row-block">
                <div class="col-md-4 actions-wrap justify-content-start" id="like_wrap_<%= post.id%>">
                    <% if post.like.exists?(user_id: current_user.id)%>
                        <% if post.like.count > 1 %>
                            <%= link_to "You and #{post.like.count-1} other(s)", post_likes_path(post.id),class:"like-users-list like_list_#{post.id}" %>
                        <% elsif post.like.count == 1 %>
                            <%= link_to "You liked", post_likes_path(post.id),class:"like-users-list like_list_#{post.id}" %>
                        <% end %>

                    <%else%>
                        <% if post.like.count > 1 %>
                            <%= link_to "#{post.like.last.userinfo.fullname} and #{post.like.count-1} other(s)", post_likes_path(post.id),class:"like-users-list like_list_#{post.id}" %>
                        <% elsif post.like.count == 1 %>
                            <%= link_to "#{post.like.last.userinfo.fullname} liked", post_likes_path(post.id),class:"like-users-list like_list_#{post.id}" %>
                        <% else%>
                            <%= link_to "", post_likes_path(post.id),class:"like-users-list like_list_#{post.id}" %>    
                        <% end %>

                    <%end%>
                </div>

                <div class="col-md-4 actions-wrap justify-content-center">
                                    <span class="comment-count"><%= post.comment.count %> Comment(s)</span>
                </div>

                <div class="col-md-4 actions-wrap  justify-content-end">
                </div>
            </div>
            <div class="row row-block">
                <div class="col-md-4 actions-wrap like-block justify-content-start">
                <% pre_like = post.like.find { |like| like.user_id == current_user.id}
                       like_class = pre_like ? 'fa-solid' : 'fa-regular'%>
                    <i class="<%=like_class%> fa-heart like-action like-icon" id="like_button_<%= post.id %>" data-id="<%= post.id%>"></i>
                </div>
                <div class="col-md-4 actions-wrap comment-block justify-content-center">                    
                    <%= link_to post_path(post.id) do %>
                        <i class="fa-regular fa-sharp comment-icon fa-comment"></i>
                    <% end %>
                </div>
                <div class="col-md-4 actions-wrap share-block justify-content-end">
                    <i class="fa-sharp share-icon fa-solid fa-share" data-url="<%= post_url(post.id)%>"></i>
                </div>
            </div>
        </div>
    </div>
</div>

