<div class="container">
  <div class="mt-2 row">
    <div class="col-md-10">
      <%= link_to "Back", posts_path,class:"btn btn-primary" %>
    </div>
    <div class="col-md-2 d-flex flex-row-reverse">
      <%= link_to "Edit", edit_post_path(@post), class:' pt-2 btn btn-outline-secondary' %> &nbsp;
      <%= button_to "Delete", @post, method: :delete, class:'pt-2 btn btn-outline-danger' %>
    </div>
        <%= render @post %>    
    </div>
    
  </div>
  
    <div class="container mt-2">
        <% @comments.each do |comment| %>
          <%= render 'comments/comment', post: @post, comment: comment%>
        <% end %>
          <%= render 'comments/form',post: @post%>
  </div>

</div>

<script type="module">
            $('.actions-tab').remove()
</script>
