<!DOCTYPE html>
<html>
  <head>
    <title>Eboxapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  
  <div class="container-fluid">
  <div class="row">
  <%if user_signed_in?%>  
  <%= render('layouts/navbar')%>
  <%end%>
  </div>
  </div>

  <main class="container main-content">
  <div class="row">
  
  <div class="col-md-12 mt-2">
  <%if alert.nil?%>
  <div class="empty" role="alert"></div>
   <% else %>
  <div class="alert alert-danger" role="alert"><%= alert %> </div>
  <% end %>

  <%if notice.nil?%>
  <div class="empty"></div>
  <% else %>
    <div class="alert alert-success" role="alert"><%= notice %> </div>
  <% end %>
    <%= yield %>
    </div>
    </div>
    </main>
  </body>
</html>
